.Blocos{
    justify-content: center;
    align-items: start;
    display: flex;
    flex-wrap: wrap;
}




.Produtos{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: 10px; /* volume dentro do bloco*/
    margin: 30px; /* distancia entre os blocos*/
    justify-content: center;
    transition: background-color 0.5s; /* Efeito de transição */
    width: min(200px, 30%);
}

.Produtos:hover {
    background-color: #999999; /* Cor de fundo ao passar o mouse */
}