.Tudo{
    display: flex;
    font-family: monospace;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    
}

.Quadrado{
    box-shadow: 1px 4px 10px #2ab72f;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    border: solid, #266d47f1;
    padding: 20px; /* volume dentro do bloco*/
    margin: 30px; /* distancia entre o bloco e descrição*/

}

.Nome{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.Descricao{
    font-size: 20px;

}
h3{
    color: rgb(109, 109, 109);
}

.Imagem {
    height: 400px;
  }
  .Imagem img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .Botaos{
    display: flex;
  }
  .Carrinho{

    display: flex;
    justify-content: center;
    background-color: #28a745;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.5s; /* Velocidade transição */
  }

  .Voltar{
   
    display: flex;
    justify-content: center;
    background-color: #c82333;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.5s; /* Velocidade transição */
  }

  .Carrinho:hover, .Voltar:hover{
    background-color: #999999; /* Cor de fundo ao passar o mouse */
  }